.container {
	width:100%;
	max-width: 800px;
	margin-left: auto;
	margin-right: auto;
	font-family: 'Open Sans', sans-serif;
}

#form {
	padding-left: 20px;
	padding-right: 20px;
	width: 100%
}

#thankyou {
	display: none;
}

input, textarea {
	width: 100%;
	height: 50px;
	margin-top: 10px;
	margin-bottom: 20px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
	padding-left: 10px;
}

textarea {
	padding-top: 18px;
}

button {
	padding: 15px;
	font-size: 18px;
}

input[type="checkbox"]{
  zoom: 1.5;
}


